<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi Refugio</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/Images/browser-logo-icons8-dog-paw-32.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900">
</head>
<body>
    @*@Html.Partial("_Sidebar")*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Refugio "Mi Refugio"</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/Shared/alert-messages.js");

    <!-- Custom modal -->
    <script>
        const modalVariables = {
            size: {
                small: '@Refugio.Resources.CustomModal.Size.Small',
                medium: '@Refugio.Resources.CustomModal.Size.Medium',
                large: '@Refugio.Resources.CustomModal.Size.Large',
            },
            type: {
                danger: '@Refugio.Resources.CustomModal.Types.Danger',
                success: '@Refugio.Resources.CustomModal.Types.Success',
                warning: '@Refugio.Resources.CustomModal.Types.Warning',
                info : '@Refugio.Resources.CustomModal.Types.Info',
            }
        }
    </script>
    @Scripts.Render("~/Scripts/Shared/custom-modal.js")
    <!--End custom modal-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Areas/Admin/general.js")
    @Styles.Render("~/Content/Styles/Areas/Admin/general.css")
    @*@Styles.Render("~/Content/Styles/Shared/sidebar.css")*@
</body>
</html>