<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi Refugio</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/Images/browser-logo-icons8-dog-paw-32.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    @Styles.Render("~/Content/Areas/Admin/Custom/Styles/general.css")
</head>
<body>
    @Html.Partial("_Sidebar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Refugio "Mi Refugio"</p>
        </footer>
    </div>
    <script src="~/Scripts/Shared/alertMessages.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Areas/Admin/general.js")
    @Styles.Render("~/Content/Styles/Areas/Admin/general.css")
    @Styles.Render("~/Content/Styles/Shared/sidebar.css")
</body>
</html>