<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Refugio "Mi refugio"</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home", new { Area="" })" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">¿Quienes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nuestro equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nuestras mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Casos exitosos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ayúdanos</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    @Refugio.App_Resources.Global.Language
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a href="@Url.Action("ChangeLanguage", "Language", new { language = "es-ES", areaToRedirect = "Admin", Area="" })" class="dropdown-item">ES</a></li>
                    <li><a href="@Url.Action("ChangeLanguage", "Language", new { language = "en-US", areaToRedirect = "Admin", Area="" })" class="dropdown-item">EN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Refugio "Mi Refugio"</p>
        </footer>
    </div>
    <script src="~/Scripts/Shared/alertMessages.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>