@model Refugio.Areas.Admin.Models.VeterinarianSpeciality.List
@{
    string language = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<table class="table-highlight">
    <thead>
        <tr>
            <th>@Refugio.Resources.Languages.Global.FirstName</th>
            <th>@Refugio.Resources.Languages.Global.Veterinarians</th>
            <th class="icon-buttons-col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speciality in Model.Specialities)
        {
            string name = string.Empty;
            switch (language)
            {
                case (Refugio.Resources.Language.SpanishKey):
                    name = speciality.SpecialityNameES;
                    break;
                case (Refugio.Resources.Language.EnglishKey):
                    name = speciality.SpecialityNameEN;
                    break;
            }
            <tr>
                <td>@name</td>
                <td>@speciality.VeterinarianCount</td>
                <td class="text-center icon-buttons-col">
                    <a href="@Url.Action("Details", "VeterinarianSpeciality", new { area = "Admin", Id = speciality.SpecialityId })" class="icon-button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Edit", "VeterinarianSpeciality", new { area = "Admin", Id = speciality.SpecialityId })" class="icon-button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <label class="icon-button delete" for="dialog_state"
                           data-speciality="@name"
                           data-count="@speciality.VeterinarianCount"
                           data-id="@speciality.SpecialityId">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("_pager", Model.Pager)
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/_Modal.cshtml")
<script>
    var deleteVeterinarianSpecialityModalCustomData = {
        HeaderTitle : '@Refugio.Resources.Languages.Global.Delete ' + '@Refugio.Resources.Languages.Global.Speciality.ToLower()',
        BodyTitle : '@Refugio.Resources.Languages.Global.SureDeleteF ' + '@Refugio.Resources.Languages.Global.Speciality.ToLower()' + '?',
        PrimaryButtonText : '@Refugio.Resources.Languages.Global.Yes' + ', ' + '@Refugio.Resources.Languages.Global.Delete.ToLower()',
        SecondaryButtonText : '@Refugio.Resources.Languages.Global.No' + ', ' + '@Refugio.Resources.Languages.Global.Cancel.ToLower()',
        BodyContentNameSection : '@Refugio.Resources.Languages.Global.Speciality',
        PrimaryButtonUrlAction : '/Admin/VeterinarianSpeciality/Delete/',
    }
</script>