@model Refugio.Areas.Admin.Models.Veterinarian.Details
@{
    ViewBag.Title = Refugio.Resources.Languages.Global.Details;
}

<h2>Details</h2>
<div id="container-alert-message"></div>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StreetAddress)</th>
                <td>@Html.DisplayFor(model => model.StreetAddress)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApartmentNumber)</th>
                <td>@Html.DisplayFor(model => model.ApartmentNumber)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
                <td>@Html.DisplayFor(model => model.ZipCode)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Province)</th>
                <td>@Html.DisplayFor(model => model.Province)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PhoneNumberMain)</th>
                <td>@Html.DisplayFor(model => model.PhoneNumberMain)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PhoneNumberAditional)</th>
                <td>@Html.DisplayFor(model => model.PhoneNumberAditional)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SpecialityName)</th>
                <td>@Html.DisplayFor(model => model.SpecialityName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IsPermanent)</th>
                <td>@(Model.IsPermanent ? "Sí" : "No")</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Salary)</th>
                <td>@Html.DisplayFor(model => model.Salary)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TimeSlot)</th>
                <td>@Html.DisplayFor(model => model.TimeSlot)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProfessionalLicense)</th>
                <td>@Html.DisplayFor(model => model.ProfessionalLicense)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </tbody>
    </table>

    <a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin", id = Model.Id})" class="btn btn-primary">Editar</a>
    <a href="@Url.Action("Index", "Veterinarian", new { area = "Admin" })" class="btn btn-success">Volver al listado</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete">Borrar veterinario</button>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar veterinario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro que quiere eliminar el veterinario?
                </p>
                <p>
                    Nombre: @Model.LastName, @Model.FirstName<br />
                    Especialidad: @Model.SpecialityName<br />
                    Matrícula: @Model.ProfessionalLicense
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="@Url.Action("Delete", "Veterinarian", new { area = "Admin", id = Model.Id })" class="btn btn-success">Eliminar</a>
            </div>
        </div>
    </div>
</div>