@model Refugio.Areas.Admin.Models.Veterinarian.Details
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserPassword)</th>
                <td>@Html.DisplayFor(model => model.UserPassword)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StreetAddress)</th>
                <td>@Html.DisplayFor(model => model.StreetAddress)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApartmentNumber)</th>
                <td>@Html.DisplayFor(model => model.ApartmentNumber)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
                <td>@Html.DisplayFor(model => model.ZipCode)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Province)</th>
                <td>@Html.DisplayFor(model => model.Province)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PhoneNumberMain)</th>
                <td>@Html.DisplayFor(model => model.PhoneNumberMain)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PhoneNumberAditional)</th>
                <td>@Html.DisplayFor(model => model.PhoneNumberAditional)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Speciality)</th>
                <td>@Html.DisplayFor(model => model.Speciality)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IsPermanent)</th>
                <td>@Html.DisplayFor(model => model.IsPermanent)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Salary)</th>
                <td>@Html.DisplayFor(model => model.Salary)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TimeSlot)</th>
                <td>@Html.DisplayFor(model => model.TimeSlot)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProfessionalLicense)</th>
                <td>@Html.DisplayFor(model => model.ProfessionalLicense)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </tbody>
    </table>

    <td><a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin", id = Model.Id })">Editar</a></td>
</div>

