@model Refugio.Areas.Admin.Models.Veterinarian.Edit
@{
    ViewBag.Title = "Edit";
}

<h2>Editar veterinario</h2>

@using (Html.BeginForm("Edit", "Veterinarian", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x => x.RowVersion)
    @Html.AntiForgeryToken()


    if (Model.Id == 0)
    {
        <div class="mb-3 row">
            @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 col-form-label text-end" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.UserName)
        <div class="mb-3 row">
            @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 col-form-label text-end" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
            </div>
        </div>
    }
    <div class="mb-3 row">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.FirstName)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.LastName, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.LastName)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.StreetAddress, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.StreetAddress)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.ApartmentNumber, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ApartmentNumber, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.ApartmentNumber)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.City, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.City)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.ZipCode, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.ZipCode)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Province, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Province, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Province)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.PhoneNumberMain, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PhoneNumberMain, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.PhoneNumberMain)</span>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.PhoneNumberAditional, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PhoneNumberAditional, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.PhoneNumberAditional)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Speciality, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.Speciality,
                new SelectList(Model.VeterinarianSpecialityList, "Value", "Text"),
                "-- Select --",
                new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Speciality)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.IsPermanent, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.IsPermanent, true, new { @class = "form-check-input" }) Sí
            @Html.RadioButtonFor(model => model.IsPermanent, false, new { @class = "form-check-input" }) No
            <span class="text-danger">@Html.ValidationMessageFor(model => model.IsPermanent)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Salary, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Salary, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Salary)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.TimeSlot, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.TimeSlot,
                new SelectList(Model.TimeSlotRangeList, "Value", "Text"),
                "-- Select --",
                new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.TimeSlot)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.ProfessionalLicense, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ProfessionalLicense, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.ProfessionalLicense)</span>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 col-form-label text-end" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Description)</span>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="@Url.Action("Index", "Veterinarian", new { area = "Admin" })" class="btn btn-default">Volver al listado</a>
    </div>
}