@model Refugio.Areas.Admin.Models.Veterinarian.Edit

@using Refugio.Resources.Languages

@{
    string title = (Model.Id == 0 ? Global.Create : Global.Edit) + " " + Global.Veterinarian;
    ViewBag.Title = char.ToUpper(title[0]) + title.Substring(1).ToLower();
}

<div class="form-container">
    <h2>@title.ToUpper()</h2>

    @using (Html.BeginForm("Edit", "Veterinarian", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.RowVersion)
        @Html.AntiForgeryToken()

        <div class="section-title">@Global.PersonalData</div>
        <div class="row">
            @{
                if (Model.IsNew)
                {
                    <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "" })
                        @Html.LabelFor(m => m.UserName)
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
                    </div>
                }
                else
                {
                    <div class="form-label col-lg-4 col-md-6 col-sm-12">
                        @Html.LabelFor(m => m.UserName, new { @class = "label" })
                        <p>@Model.UserName</p>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.FirstName)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.FirstName)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.LastName)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.LastName)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.DocNumber, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.DocNumber)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.DocNumber)</span>
            </div>
        </div>

        <div class="section-title">@Global.Location</div>
        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.Province, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.Province)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Province)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.City)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.City)</span>
            </div>
        </div>

        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.StreetAddress, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.StreetAddress)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.StreetAddress)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.ApartmentNumber, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.ApartmentNumber)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.ApartmentNumber)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.ZipCode)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.ZipCode)</span>
            </div>
        </div>

        <div class="section-title">@Global.Contact</div>
        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.PhoneNumberMain, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.PhoneNumberMain)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.PhoneNumberMain)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.PhoneNumberAditional, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.PhoneNumberAditional)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.PhoneNumberAditional)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.Email)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
            </div>
        </div>

        <div class="section-title">@Global.ProfessionalInformation</div>
        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.DropDownListFor(model => model.SpecialityId, new SelectList(Model.VeterinarianSpecialityList, "Value", "Text"), Global.OptionSelect, new { @class = "form-select" })
                @Html.LabelFor(m => m.SpecialityId)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.SpecialityId)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.ProfessionalLicense, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.ProfessionalLicense)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.ProfessionalLicense)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.DropDownListFor(model => model.TimeSlot, new SelectList(Model.TimeSlotRangeList, "Value", "Text"), Global.OptionSelect, new { @class = "form-select" })
                @Html.LabelFor(m => m.TimeSlot)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.TimeSlot)</span>
            </div>
        </div>

        <div class="row">
            <div class="form-label col-lg-4 col-md-6 col-sm-12">
                @Html.LabelFor(m => m.IsPermanent, new { @class = "label" })
                <div class="form-check form-switch">
                    @Html.RadioButtonFor(model => model.IsPermanent, true, new { @class = "form-check-input", id = "IsPermanent_Yes", type = "checkbox" })
                    @Html.RadioButtonFor(model => model.IsPermanent, false, new { @class = "form-check-input", id = "IsPermanent_No", type = "checkbox" })
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.IsPermanent)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.CUIT, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.CUIT)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.CUIT)</span>
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", placeholder = "", lang = Refugio.Resources.Helpers.LanguageHelper.GetLanguageKey() })
                @Html.LabelFor(m => m.Salary)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Salary)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.Fee)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Fee)</span>
            </div>
        </div>

        <div class="section-title">@Global.WebsiteConfiguration</div>
        <div class="row">
            <div class="form-label col-lg-4 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.InLanding, new { @class = "form-check-label" })
                <div class="form-check form-switch">
                    @Html.RadioButtonFor(model => model.InLanding, true, new { @class = "form-check-input", id = "InLanding_Yes", type = "checkbox" })
                    @Html.RadioButtonFor(model => model.InLanding, false, new { @class = "form-check-input", id = "InLanding_No", type = "checkbox" })
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.InLanding)</span>
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-lg-12 col-md-12 col-sm-12">
                @Html.TextAreaFor(model => model.DescriptionEN, new { @class = "form-control", placeholder = "", rows = "3" })
                @Html.LabelFor(m => m.DescriptionEN)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.DescriptionEN)</span>
            </div>
        </div>
        <div class="row">
            <div class="form-floating col-lg-12 col-md-12 col-sm-12">
                @Html.TextAreaFor(model => model.DescriptionES, new { @class = "form-control", placeholder = "", rows = "3" })
                @Html.LabelFor(model => model.DescriptionES)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.DescriptionES)</span>
            </div>
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">@Global.Save</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Veterinarian", new { area = "Admin" })'">@Global.BackToList</button>
        </div>
    }
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/localization/messages_es.js"></script>*@
