@model Refugio.Areas.Admin.Models.Veterinarian.List
@{
    ViewBag.Title = "Index";
}
<h1>Veterinarians</h1>
@Html.Partial("_MessageAlert")
@using (Html.BeginForm("Index", "Veterinarian", FormMethod.Post, new { id = "form-veterinarian-list" }))
{
    <div>
        <h2>Filters</h2>
        Buscar:
        @Html.TextBoxFor(x => x.Filters.Keyword, new { @class = "filter" })
        @Html.DropDownListFor(x => x.Filters.SelectedVeterinarianSpecialityId, Model.Filters.VeterinarianSpeciality, "-- Select --", new { @class = "filter" })
        <button type="submit" class="btn btn-primary" id="btn-search">Buscar</button>
        <button type="button" class="btn btn-secondary" id="btn-reset-filters">Quitar filtros</button>
        @Html.HiddenFor(x => x.Pager.CurrentPage, new { @id = "hdn-pager-index" })
    </div>
    <div id="veterinarian-list-container"></div>
    <div>
        <a class="btn btn-outline-info" href="@Url.Action("Edit", "Veterinarian", new { area = "Admin" })">Nuevo</a>
    </div>
}

<script src="~/Scripts/Areas/Admin/Views/VeterinarianList.js"></script>