@model Refugio.Areas.Admin.Models.Veterinarian.List
@{
    ViewBag.Title = Refugio.Resources.Languages.Global.Veterinarians;
}
<h1>@Refugio.Resources.Languages.Global.Veterinarians</h1>
@Html.Partial("_MessageAlert")
@using (Html.BeginForm("Index", "Veterinarian", FormMethod.Post, new { id = "form-veterinarian-list" }))
{
    <div>
        <h2>@Refugio.Resources.Languages.Global.Filters</h2>
        @Refugio.Resources.Languages.Global.Search:
        @Html.TextBoxFor(x => x.Filters.Keyword, new { @class = "form-control filter" })
        @Html.DropDownListFor(x => x.Filters.SelectedVeterinarianSpecialityId, Model.Filters.VeterinarianSpeciality, Refugio.Resources.Languages.Global.OptionSelect, new { @class = "form-select filter" })
        <button type="submit" class="btn btn-primary" id="btn-search">@Refugio.Resources.Languages.Global.Search</button>
        <button type="button" class="btn btn-secondary" id="btn-reset-filters">@Refugio.Resources.Languages.Global.ClearFilters</button>
        @Html.HiddenFor(x => x.Pager.CurrentPage, new { @id = "hdn-pager-index" })
    </div>
    <div id="veterinarian-list-container"></div>
    <div>
        <a class="btn btn-outline-info" href="@Url.Action("Edit", "Veterinarian", new { area = "Admin" })">@Refugio.Resources.Languages.Global.New</a>
    </div>
}

<script>
    var modalDeleteConfiguration = {
        modalDeleteTitle: '@Refugio.Resources.Languages.Global.Delete ' + '@Refugio.Resources.Languages.Global.Veterinarian.ToLower()',
        modalDeleteBodyAnswer: '@Refugio.Resources.Languages.Global.SureDelete ' + '@Refugio.Resources.Languages.Global.Veterinarian.ToLower()' + '?',
        modalNameSection: '@Refugio.Resources.Languages.Global.Name',
        modalSpecialitySection: '@Refugio.Resources.Languages.Global.Speciality',
        modalLicenceSection: '@Refugio.Resources.Languages.Global.ProfessionalLicense',
        modalPrimaryButtonText: '@Refugio.Resources.Languages.Global.Yes' + ', ' + '@Refugio.Resources.Languages.Global.Delete.ToLower()',
        modalSecondaryButtonText: '@Refugio.Resources.Languages.Global.No' + ', ' + '@Refugio.Resources.Languages.Global.Cancel.ToLower()',
        modalUrlAction: '/Admin/Veterinarian/Delete/',
    };
</script>
<script src="~/Scripts/Areas/Admin/Views/VeterinarianList.js"></script>
@Styles.Render(("~/Content/Styles/Shared/table-highlight.css"))
