@model Refugio.Areas.Admin.Models.Veterinarian.List
@{
    ViewBag.Title = "Index";
}
<h1>Veterinarians</h1>
@if (Model.Message != null)
{
    @Html.Partial("_MessageAlert", Model.Message)
}
@using (Html.BeginForm("Index", "Veterinarian", FormMethod.Post, new { @id = "form-veterinarian-list" }))
{
    <div>
        <h2>Filters</h2>
        Buscar:
        @Html.TextBoxFor(x => x.Filters.Keyword, new { @class = "filter" })
        <input type="hidden" name="Filters.FilterModified" id="hdn-filter-modified-indicator" value="@Model.Filters.FilterModified" />
        @Html.DropDownListFor(x => x.Filters.SelectedVeterinarianSpecialityId, Model.Filters.VeterinarianSpeciality, "-- Select --", new { @class = "filter" })
        <button type="button" class="btn btn-primary" id="btn-search">Buscar</button>
        <button type="button" class="btn btn-secondary" id="btn-reset-filters">Quitar filtros</button>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Speciality</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var veterinarian in Model.Veterinarians)
                {
                    <tr>
                        <td><a href="@Url.Action("Details", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })">@veterinarian.Id</a></td>
                        <td>@veterinarian.FirstName</td>
                        <td>@veterinarian.LastName</td>
                        <td>@veterinarian.VeterinarianSpeciality.SpecialityName</td>
                        <td>@veterinarian.Salary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center">
        @Html.HiddenFor(x => x.Pager.CurrentPage, new { @id = "hdn-pager-index" })
        @Html.Partial("_pager", Model.Pager)
    </div>
    <div>
        <a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin" })">Nuevo</a>
    </div>
}

<script src="~/Scripts/Areas/Admin/Views/VeterinarianList.js"></script>