@model Refugio.Areas.Admin.Models.VeterinarianSpeciality.Edit

@{
    string title = (Model.IsNew ? Refugio.Resources.Languages.Global.Create : Refugio.Resources.Languages.Global.Edit) + " " + @Refugio.Resources.Languages.Global.VeterinarianSpeciality;
    ViewBag.Title = char.ToUpper(title[0]) + title.Substring(1).ToLower();
}

<div class="form-container">
    <h2>@title.ToUpper()</h2>

    @using (Html.BeginForm("Edit", "VeterinarianSpeciality", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.RowVersion)
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.SpecialityNameES, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.SpecialityNameES)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.SpecialityNameES)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.SpecialityNameEN, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.SpecialityNameEN)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.SpecialityNameEN)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label class="form-label">@Refugio.Resources.Languages.Global.Professionals</label>
                <p>@Model.ProfessionalsAssociatedCount</p>
            </div>
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">@Refugio.Resources.Languages.Global.Save</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "VeterinarianSpeciality", new { area = "Admin" })'">@Refugio.Resources.Languages.Global.BackToList</button>
            <button type="button" class="btn btn-tertiary">Opción</button>
        </div>
    }
</div>