@model Refugio.Areas.Admin.Models.VeterinarianSpeciality.Edit

@using Refugio.Resources.Languages

@{
    string title = (Model.IsNew ? Global.Create : Global.Edit) + " " + Global.VeterinarianSpeciality;
    ViewBag.Title = char.ToUpper(title[0]) + title.Substring(1).ToLower();
}

<div class="form-container">
    <h2>@title.ToUpper()</h2>

    @using (Html.BeginForm("Edit", "VeterinarianSpeciality", FormMethod.Post, new { @class = "form-horizontal", id = "veterinarianSpecialityForm" }))
    {
        @Html.HiddenFor(x => x.RowVersion)
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.SpecialityNameES, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.SpecialityNameES)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.SpecialityNameES)</span>
            </div>
            <div class="form-floating col-lg-4 col-md-6 col-sm-12">
                @Html.TextBoxFor(model => model.SpecialityNameEN, new { @class = "form-control", placeholder = "" })
                @Html.LabelFor(m => m.SpecialityNameEN)
                <span class="text-danger">@Html.ValidationMessageFor(model => model.SpecialityNameEN)</span>
            </div>
        </div>
        <div class="row">
            <div class="form-label col-lg-4 col-md-6 col-sm-12">
                @Html.LabelFor(m => m.ProfessionalsAssociatedCount, new { @class = "label" })
                <p>@Model.ProfessionalsAssociatedCount</p>
            </div>
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">@Global.Save</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "VeterinarianSpeciality", new { area = "Admin" })'">@Global.BackToList</button>
        </div>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>