@model Refugio.Areas.Admin.Models.Veterinarian.List
@{
    string language = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<input type="hidden" name="Filters.FilterModified" id="hdn-filter-modified-indicator" value="@Model.Filters.FilterModified" />
<table class="table-highlight">
    <thead>
        <tr>
            <th>@Refugio.Resources.Languages.Global.FirstName</th>
            <th>@Refugio.Resources.Languages.Global.LastName</th>
            <th>@Refugio.Resources.Languages.Global.Speciality</th>
            <th>@Refugio.Resources.Languages.Global.PhoneNumberMain</th>
            <th class="icon-buttons-col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veterinarian in Model.Veterinarians)
        {
            <tr>
                <td>@veterinarian.FirstName</td>
                <td>@veterinarian.LastName</td>
                <td>
                    @switch (language)
                    {
                        case (Refugio.Resources.Language.SpanishKey):
                            @veterinarian.VeterinarianSpeciality.SpecialityNameES
                            break;
                        case (Refugio.Resources.Language.EnglishKey):
                            @veterinarian.VeterinarianSpeciality.SpecialityNameEN
                            break;
                    }
                </td>
                <td>@veterinarian.PhoneNumberMain</td>
                <td class="text-center icon-buttons-col">
                    <a href="@Url.Action("Details", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })" class="icon-button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })" class="icon-button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="" class="icon-button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("_pager", Model.Pager)
</div>

<!-- Delete modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@Refugio.Resources.Languages.Global.Delete @Refugio.Resources.Languages.Global.Veterinarian.ToLower()</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    @Refugio.Resources.Languages.Global.SureDelete @Refugio.Resources.Languages.Global.Veterinarian.ToLower()?
                </p>
                <p>
                    @Refugio.Resources.Languages.Global.Name: <br />
                    @Refugio.Resources.Languages.Global.Speciality: <br />
                    @Refugio.Resources.Languages.Global.ProfessionalLicense:
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Refugio.Resources.Languages.Global.Close</button>
                <a href="" class="btn btn-success">@Refugio.Resources.Languages.Global.Delete</a>
            </div>
        </div>
    </div>
</div>





