@model Refugio.Areas.Admin.Models.Veterinarian.List
<input type="hidden" name="Filters.FilterModified" id="hdn-filter-modified-indicator" value="@Model.Filters.FilterModified" />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Refugio.App_Resources.Global.FirstName</th>
            <th>@Refugio.App_Resources.Global.LastName</th>
            <th>@Refugio.App_Resources.Global.Speciality</th>
            <th>@Refugio.App_Resources.Global.Salary</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veterinarian in Model.Veterinarians)
        {
        <tr>
            <td>@veterinarian.FirstName</td>
            <td>@veterinarian.LastName</td>
            <td>@veterinarian.VeterinarianSpeciality.SpecialityName</td>
            <td>@veterinarian.Salary</td>
            <th>
                <a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Details", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </a>
            </th>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("_pager", Model.Pager)
</div>




