@model Refugio.Areas.Admin.Models.Veterinarian.List
@{
    string language = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<input type="hidden" name="Filters.FilterModified" id="hdn-filter-modified-indicator" value="@Model.Filters.FilterModified" />
<table class="table-highlight">
    <thead>
        <tr>
            <th>@Refugio.Resources.Languages.Global.FirstName</th>
            <th>@Refugio.Resources.Languages.Global.LastName</th>
            <th>@Refugio.Resources.Languages.Global.Speciality</th>
            <th>@Refugio.Resources.Languages.Global.PhoneNumberMain</th>
            <th class="icon-buttons-col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veterinarian in Model.Veterinarians)
        {
            string veterinarianSpeciality = string.Empty;
            switch (language)
            {
                case (Refugio.Resources.Language.SpanishKey):
                    veterinarianSpeciality = @veterinarian.VeterinarianSpeciality.SpecialityNameES;
                    break;
                case (Refugio.Resources.Language.EnglishKey):
                    veterinarianSpeciality = @veterinarian.VeterinarianSpeciality.SpecialityNameEN;
                    break;
            }
            <tr>
                <td>@veterinarian.FirstName</td>
                <td>@veterinarian.LastName</td>
                <td>@veterinarianSpeciality</td>
                <td>@veterinarian.PhoneNumberMain</td>
                <td class="text-center icon-buttons-col">
                    <a href="@Url.Action("Details", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })" class="icon-button">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Edit", "Veterinarian", new { area = "Admin", Id = veterinarian.Id })" class="icon-button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <label class="icon-button delete" for="dialog_state"
                          data-complete-name="@veterinarian.LastName, @veterinarian.FirstName"
                          data-speciality="@veterinarianSpeciality"
                          data-professional-licence="@veterinarian.ProfessionalLicense"
                          data-id="@veterinarian.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.Partial("_pager", Model.Pager)
</div>

@Html.Partial("~/Areas/Admin/Views/Shared/_Modal.cshtml")